*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
# 忽略lancomm源码文件夹（外部依赖，仅本地使用）
lancomm/
# Kotlin 编译器缓存和会话文件
.kotlin
